{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
    <main>
        <a class="boton-admin" href="{% url form %}">Crear {{ aux }}</a>
        <a class="boton-admin" href="{% url 'modificacionAdmin' num %}">Modificar {{ aux }}</a>
        <a class="boton-admin" href="{% url 'home' %}">Borrar {{ aux }}</a>
        <a class="boton-volver" href="{% url 'homeAdmin' %}">Volver</a>
    </main>
{% endblock %}