{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
    <main>
        <form class="form-modificar" method="get" action="{% url 'eliminarForm' num %}">
            <select class="select-admin" name="seleccion" id="id_seleccion">
                {% for i in lista %}
                    <option value="{{ i.pk }}">{{ i.nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="boton-volver">Eliminar</button>
        </form>
        <a class="boton-volver" href="{% url 'accionAdmin' num %}">Volver</a>

    </main>
{% endblock %}