{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
    <main>
        <select class="select-admin" name="" id="">
            {% for i in lista %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <a class="boton-volver" href="{% url 'homeAdmin' %}">Volver</a>
        <a class="boton-volver" href="{% url 'home' %}">Editar</a>
    </main>
{% endblock %}