{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<header>
    <div class="home-header-textos">
        <h1 class="home-texto">Bienvenidos a</h1>
        <h1 class="home-texto">The Challenge Island</h1>
        <a href="" class="home-inicio_sesion">Inicia sesion</a>

    </div>

</header>
<main>
    <div class="home-agrupador">
        <img src="../static/img/01.jpg" alt="">
        <div class="home-descripcion">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in dictum dui. Nullam euismod elit nec purus volutpat, ac scelerisque nunc convallis. Fusce facilisis magna eu sapien tristique, sit amet cursus urna efficitur.</p>
        </div>
    </div>
    <div class="home-agrupador row-reverse">
        <img src="../static/img/02.jpg" alt="">
        <div class="home-descripcion">
            <p>Vestibulum id mauris nec tellus convallis scelerisque. Cras vel pulvinar ipsum. Nulla at justo eu orci iaculis euismod. Suspendisse auctor mauris vitae ligula varius, eget auctor dolor hendrerit.</p>
        </div>
    </div>
    <div class="home-agrupador">
        <img src="../static/img/03.jpg" alt="">
        <div class="home-descripcion">
            <p>Quisque consectetur, lectus id lacinia dapibus, sem justo ullamcorper urna, a ultrices arcu metus ac est. Curabitur fermentum in justo eget vehicula. Sed varius bibendum turpis, in mattis mi vehicula et. Vivamus dignissim, dolor vel vulputate tincidunt, tellus nunc viverra arcu, non dictum turpis nulla eu felis.</p>
        </div>
    </div>
</main>
{% endblock %}