{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/participantes.css' %}">
{% endblock %}
        
{% block content %}

<main class="participante-main">
    {% for participante in participantes %}
    <div class="participante-tarjeta">
        
        <div class="participante-tarjeta-contenedor"><img src="static/img/02.jpg" alt=""></div>
        <h2>{{ participante.nombre }}</h2> 
        <h3>"{{ participante.apodo }}"</h3> 
        <div class="participante-tarjeta-descripcion">
            <p class="participante-tarjeta-descripcion-p" id="descripcion">{{ participante.descripcion }}</p>
        </div>
        
        <h4>{{ participante.estadoParticipacion }}</h4>
    </div>
    {% endfor %}
</main>



{% endblock %}