<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    {% for entry in data %}
        <h2>{{ entry.equipo.nombre }}</h2>
        <ul>
            {% for participante in entry.participantes %}
                <li>
                    {{ participante.nombre }}
                </li>
                <ul>
                    <li>
                        Apodo: {{ participante.apodo }} 
                    </li>
                    <li>
                        Habilidad: {{ participante.habilidad }}
                    </li>
                    <li>
                        Descripcion: {{participante.descripcion}}
                    </li>
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
