<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        header {
            background-image: url(../static/img/Fondo_header_main.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
        }
    </style>
    
    <header>
    
    </header>
</body>
</html>