{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/temporadas.css' %}">
{% endblock %}
{% block content %}
<main class="temporada-main">
    {% for temporada in temporadas %}

        <div class="temporada-tarjeta">
            <h1>{{ temporada.numero }}</h1>
            <div class="tarjeta-contenedor"><img src="static/img/02.jpg" alt=""></div>
            <h2>{{ temporada.nombre }}</h2>  
            <div class="tarjeta-descripcion">
                {{ temporada.pk}}
    
            </div>
            
        </div>
    {% endfor %}
</main>


{% endblock %}
