@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kanit&family=Merriweather+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Italianno', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
nav{
    margin-top: 1vw;
    background-color: green;
    width: 98vw;
    height: 150px;
    border-radius: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nav-botones{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-boton{
    padding: 5px 0;
    text-decoration: none;
    font-size: larger;
    color: greenyellow;
    border-bottom: 3px green solid;
    transition: all 0.5s ease;
}

.nav-boton:hover{
    margin-bottom: 10px;
    border-bottom: 3px greenyellow solid;
    transition: all 0.5s ease;
}


.nav-contenedor{
    width: 100px;
    border: 5px greenyellow solid;
    height: 100px;
    border-radius: 50%;
}


.nav-agrupador{
    border-radius: 30px;
    border: 3px greenyellow solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-agrupador input{
    margin: 10px 0 10px 20px;
    font-size: larger;
    color: greenyellow;
    background-color: green;
    border: none;
    transition: all 0.3s ;
    border-bottom: 3px green solid;
}

.nav-agrupador input::placeholder {
    color: rgba(172, 255, 47, 0.574);
    transition: all 0.3s ;

}
.nav-agrupador input:hover{
    border-bottom: 3px greenyellow solid;
    transition: all 0.3s ;
}

.nav-agrupador input:hover::placeholder {
    color: rgb(172, 255, 47);
    transition: all 0.3s ;

}

.nav-agrupador input:focus {
    outline: none;
    border-bottom: 3px greenyellow solid;
}

.nav-agrupador input:focus::placeholder {
    color: rgba(172, 255, 47, 0);
}

.nav-agrupador-boton{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.nav-agrupador-boton:hover{
    background-color: rgb(12, 110, 12);
    transition: all 0.3s;

}

.nav-agrupador-boton:hover span{
    color: rgb(153, 255, 0);
    transition: all 0.3s;
}

.nav-agrupador span{
    padding: 0;
    font-size: 30px;
    color: greenyellow;
}
