@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Anton&family=Italianno&family=Kanit&family=Merriweather+Sans&family=Sedgwick+Ave+Display&display=swap');

:root {
    --color-1: #1a1b06;
    --color-2: #209e60;
    --color-3: #214a32;
    --color-4: #a9cd5b;
    --color-5: #d9d986;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Fondo_home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-header-textos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-texto {
    font-family: 'sedgwick ave display', sans-serif;
    font-size: 100px;
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 5px 5px black;
}

.home-inicio_sesion{
    background-color: var(--color-3);
    color: var(--color-2);
    border: 3px solid var(--color-3);
    outline: none;
    text-decoration: none;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.home-inicio_sesion:hover{
    color: transparent;
}
