.participante-main{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.participante-tarjeta{
    margin: 5vh ;
    width: 20vw;
    min-width: 300px;
    height: 55vh;
    min-height: 350px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    border: green solid 5px;
}
.participante-tarjeta-contenedor{
    margin: 1vw 0;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 5px green solid;
    transition: all .3s;
    cursor: pointer;

}

.participante-tarjeta-contenedor:hover{
    scale: 1.1;
    transition: all .3s;
}
.participante-tarjeta h2{
    font-size: larger;
}

.participante-tarjeta h3{
    font-size: smaller;
}

.participante-tarjeta h4{
    position: relative;
    bottom: 0;
    z-index: -10;
}

.participante-tarjeta-descripcion {
    margin: 1vw 0;
    width: 65%;
    height: 12vh;
    padding: 10px;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

.participante-tarjeta-descripcion-p {
    white-space: pre-line; /* Permite saltos de línea */
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0; /* Añade margen 0 para evitar espacios en blanco */
}

p:first-child:first-letter {
    text-transform: uppercase;
}


p:first-child:first-letter {
    text-transform: uppercase;
}