{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/detalleEquipo.css' %}">
{% endblock %}

{% block content %}
<main>
    <main>
        <h1>{{ nombre }}</h1>
        <img src="static/img/02.jpg" alt="">
        <div class="listas-equipo">
            <div class="lista-participantes">
                <h4>Listas de participantes</h4>
                {% for i in listaParticipantes %}
                <ul>
                    <li><a href="{% url 'participante' i.pk %}">{{ i.nombre }} {{ i.apellido }}</a></li>
                </ul>
                {% endfor %}
            </div>
    
            <div class="lista-temporadas">
                <h4>Listas de alianzas</h4>
                <ul>
                    <li><a href=""></a></li>
                </ul>
            </div>


        </div>
    </main>


</main>
{% endblock %}