{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/detalleTemporada.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="contenedor-imagen">
        <img src="" alt="">
    </div>

    <section>
        {% for i in temporada.listaEquipo %}
        <a href="{% url 'equipo' i.pk %}" class="contenedor-equipo"><img src="i.foto" alt=""></a>
        {% endfor %}
    </section>
    <section>
        <ul>
            {% for i in temporada.listaAlianza %}
            <li>{{ i.nombre }}: {{ i.descripcion }}</li></li>
            {% endfor %}
        </ul>
    </section>


</main>

{% endblock %}