{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/detalleParticipante.css' %}">
{% endblock %}

{% block content %}
<main>
    <h1>{{ nombre }}</h1>
    <div class="participante-descripcion">
        <img src="static/img/02.jpg" alt="">
        <p>{{ descripcion }}</p>
    </div>
    <div class="participante-detalles">
        <h3>Estado: {{ estado }}</h3>
        <h3>Pais: {{ pais }}</h3>
        <h3>Habilidad:  {{habilidad}}</h3>
    </div>
    <div class="participante-listas">
        <div class="lista-equipos">
            <h4>Listas de equipos</h4>
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>

        <div class="lista-temporadas">
            <h4>Listas de temporadas</h4>
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>

    </div>



    
</main>
{% endblock %}