{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<header>
    <div class="home-header-textos">
        <h1 class="home-texto">Bienvenidos a</h1>
        <h1 class="home-texto">The Challenge Island</h1>
        <a href="{% url 'login' %}" class="home-inicio_sesion">Inicia sesion</a>

    </div>

</header>
<main>
    <div class="home-agrupador">
        <img src="../static/img/01.jpg" alt="">
        <div class="home-descripcion">
            <p>"The Challenge Island" es un reality show que se desarrolla en una isla remota y reúne a un grupo de participantes dispuestos a enfrentar desafíos físicos y mentales extremos. Cada temporada del programa presenta varios equipos compuestos por individuos de diversos ámbitos, como atletas, celebridades y personas comunes con habilidades especiales. Cada participante se asigna a un equipo al inicio de la temporada y representa a ese equipo a lo largo del programa. Los televidentes pueden acceder a los datos personales de cada participante, incluyendo su nombre, apellido, país de origen, habilidades especiales y apodo.</p>
        </div>
    </div>
    <div class="home-agrupador row-reverse">
        <img src="../static/img/02.jpg" alt="">
        <div class="home-descripcion">
            <p>Estos equipos compiten en una amplia variedad de desafíos que van desde pruebas de resistencia física y habilidades atléticas hasta acertijos mentales y desafíos estratégicos. Cada desafío tiene reglas específicas, y los equipos deben superarlos para obtener puntos o recompensas. Además de los desafíos, hay rondas de eliminación en las que los equipos se enfrentan entre sí, ya sea en pruebas físicas o de habilidad, y el equipo perdedor es eliminado del programa.</p>
        </div>
    </div>
    <div class="home-agrupador">
        <img src="../static/img/03.jpg" alt="">
        <div class="home-descripcion">
            <p>A lo largo de la temporada, los equipos pueden formar alianzas estratégicas con otros equipos para fortalecer sus posibilidades de éxito, aunque estas alianzas son temporales y tienen como objetivo ayudar a los equipos a avanzar en el juego. Al final de cada temporada, se declara un equipo ganador, basado en su rendimiento en los desafíos y eliminaciones.</p>

        </div>
    </div>
</main>
{% endblock %}