{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/participanteForm.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
<form class="tarjeta" method="post">
    {% csrf_token %}
    <input type="text" name="nombre" id="nombre" value="{{ objeto_seleccionado.nombre }}" required class="input-general" placeholder="Nombre"><br>
    <input type="text" name="descripcion" id="descripcion" value="{{ objeto_seleccionado.descripcion }}" required class="input-general" placeholder="Descrpcion"><br>
    <input type="text" name="estado" {% if objeto_seleccionado.estado %}checked{% endif %} class="input-general" placeholder="Estado"><br>
    <button class="submit-general" type="submit">Guardar Alianza</button>
    <a class="boton-volver" href="{% url 'accionAdmin' num=5 %}">Volver</a>
</form>
{% endblock %}
