{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/participanteForm.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
<form class="tarjeta" method="post">
    {% csrf_token %}
    
    <input type="text" name="nombre" id="nombre" value="{{ objeto_seleccionado.nombre }}" required class="input-general" placeholder="Nombre"><br>
    <input type="text" name="descripcion" id="descripcion" value="{{ objeto_seleccionado.descripcion }}" required class="input-general" placeholder="Descripción"><br>

    <div class="lista-seleccion">

        {% for regla in reglas %}
            <label class="label-seleccion">
                <input type="checkbox" name="seleccionados" value="{{ regla.id }}"
                       {% if regla in objeto_seleccionado.reglas.all %}checked{% endif %}>
                {{ regla.nombre }}
            </label><br>
        {% endfor %}
    </div>

    <button type="submit" class="submit-general">Guardar Desafío</button>
    <a href="{% url 'accionAdmin' num=8 %}" class="boton-volver">Volver</a>
</form>
{% endblock %}
