{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/participanteForm.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
<form class="tarjeta" method="post">
    {% csrf_token %}
    <input type="text" name="nombre_equipo" value="{% if objeto_seleccionado %}{{ objeto_seleccionado.nombre }}{% endif %}" required class="input-general" placeholder="Nombre del Equipo"><br>
    <div class="lista-seleccion">
        {% for participante in participantes %}
            <label class="label-seleccion">
                <input type="checkbox" name="seleccionados" value="{{ participantes.id }}">
                {{ participante.nombre }} {{ participante.apellido }}
            </label><br>
        {% endfor %}

    </div>
    <div class="lista-seleccion">
        {% for alianza in alianzas %}
        <label class="label-seleccion">
            <input type="checkbox" name="seleccionados" value="{{ alianzas.id }}">
            {{ alianza.nombre }} {{ alianza.apellido }}
        </label><br>
        {% endfor %}
    </div>
    <button type="submit" class="submit-general">Crear Equipo</button>
    <a href="{% url 'accionAdmin' num=2 %}" class="boton-volver">Volver</a>
</form>
<script>

</script>
    
{% endblock %}
