{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/participanteForm.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
<form class="tarjeta" method="post">
    {% csrf_token %}
    
    <input type="date" name="fecha" id="fecha" class="input-general" required placeholder="Fecha de la Ronda de Eliminación"><br>

    <select name="eliminado" id="eliminado" class="input-general" required>
        {% for equipo in equipos %}
            <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
        {% endfor %}
    </select><br>

    <select name="desafio" id="desafio" class="input-general" required>
        {% for desafio in desafios %}
            <option value="{{ desafio.id }}">{{ desafio.nombre }}</option>
        {% endfor %}
    </select><br>

    <button type="submit" class="submit-general">Guardar Ronda de Eliminación</button>
    <a href="{% url 'accionAdmin' num=9 %}" class="boton-volver">Volver</a>
</form>
{% endblock %}
