{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/participanteForm.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}
{% block content %}
<form class="tarjeta" method="post">
        {% csrf_token %}
        <input class="input-general" type="text" name="nombre" id="nombre" required placeholder="Nombre"><br>
        <input class="input-general" type="number" name="numero" id="numero" required placeholder="Numero"><br>
        <button class="submit-general" type="submit">Crear Temporada</button>
        <a class="boton-volver" href="{% url 'accionAdmin' num=1 %}">Volver</a>
</form>

{% endblock %}
