.equipo-main{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.equipo-tarjeta{
    margin: 5vh ;
    width: 25vw;
    height: 45vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    border: green solid 5px;
}
.equipo-tarjeta-contenedor{
    margin: 1vw 0;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 5px green solid;
    cursor: pointer;
    transition: all .3s;
}
.equipo-tarjeta-contenedor:hover{
    transform: scale(1.1);
    transition: all .3s;
}
.equipo-tarjeta h2{
    margin-top: 1vw;
    font-size: larger;
}

.equipo-tarjeta-descripcion{
    margin: 1vw 0;
    border: 1px solid black;
    width: 80%;
    height: 30%;
}

.equipo-tarjeta-contenedor img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all .3s;
    
}